.incident-report-container {
	position: relative;
	z-index: 9000;	
	background: $white;
	padding-top: 75px;
	height: 100vh;
	width: 350px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	.report-header {
		background: $accent;
		padding: 20px;
		p {
		@include font-size(12px);
		color: $white;
		}
	}
}


.incident-header {
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	height: 245px;
	&.ng-hide-remove {
	transition-delay: 0.2s;
	transition: all 0.2s ease;
	}
	&.ng-hide {
		height: 0;
	}

	section {
		width: 100%;
		padding: 20px;
		background: rgba(0,0,0,0.4);
		p {
		color: white;
		margin-bottom: 10px;
		}
	}
}

.incident-outcome {
	padding: 10px 20px;
	background: darken($white, 5%);
	border-bottom: 1px solid darken($white, 10%);
	p {	
		color: $accent;
		@include font-size(12px);
		line-height: 20px;
		span {
			font-weight: bold;
		}
	}
}