body {
	font-family: 'Cabin', sans-serif;
	color: #333;
}
.parent-wrapper {
	height: 100vh;
	width: 100vw;
	background: lighten(grey, 46%);
	position: relative;
}

map {
	height: 100vh;
	width: calc(100% - 350px);
	z-index: 8999;
}

.welcome {
	z-index: 9004;
	background: $black;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: all ease 0.2s;
	h1 {
		color: white;
	}
	&.ng-hide {
		transition-delay: 0.4s;
		opacity: 0;
	}
}

.view-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
}