<section class="toolbar">
<input ng-model="crime.address" type="text">
<select ng-model="crime.searchType">
<option value="crime">Crime</option>
<option value="search">Stop and Search</option>
</select>
<select ng-model="crime.date" ng-options="date.date as date.date for date in crime.availability"></select>
<button ng-click="crime.getAddress();">Search</button>
<p>{{crime.report.totalIncidents}} {{crime.report.searchType}} {{crime.report.loc}} {{crime.report.date}}</p>
</section>
<map incidents="crime.incidents"></map>